<h1>Create Album</h1>

<form action="" method="POST">
    <div>
        <label for="album_name">Album Name:</label>
        <input type="text" id="album_name" name="album_name" required>
    </div>
    <div>
        <label for="artist">Artist:</label>
        <select id="artist" name="artist_id" required>
            <% artists.forEach(artist => { %>
                <option value="<%= artist._id %>"><%= artist.name %></option>
            <% }) %>
        </select>
    </div>
    <div>
        <label for="release_date">Release Date:</label>
        <input type="date" id="release_date" name="release_date" required>
    </div>
    <div>
        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre" required>
    </div>
    <div>
        <label for="picture_url">Album Cover URL:</label>
        <input type="url" id="picture_url" name="picture_url">
    </div>
    <button type="submit">Create Album</button>
</form>