<% layout("main") %> 

<% block("title") %> 
    Albums
<% endblock %> 


<% block("body") %> 
    <h1>Welcome to the Albums Page</h1>
    <p>This is some content for the albums page</p>
    

    <div> 
        
    </div>
<% endblock %> 
