<% layout("main") %> 

<% block("title") %> 
    Artists 
<% endblock %> 


<% block("body") %> 
    <h1>Welcome to the Artist Page</h1>
    <p>This is some content for the artist page</p>



    <div>
        
    </div>
<% endblock %> 
